# Terraform

**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
crash.log

# Variables files
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars

# IDE
.idea/
.vscode/

# macOS
.DS_Store